<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
	  <Configuration>Release</Configuration>
    <DeleteExistingFiles>true</DeleteExistingFiles>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <PublishProvider>FileSystem</PublishProvider>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <_TargetId>Folder</_TargetId>
	  <TargetFramework>net10.0</TargetFramework>
	  <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
	  <SelfContained>true</SelfContained>
	  <DebuggerSupport>false</DebuggerSupport>
	  <StackTraceSupport>false</StackTraceSupport>
	  <EnableUnsafeBinaryFormatterSerialization>false</EnableUnsafeBinaryFormatterSerialization>
	  <EnableUnsafeUTF7Encoding>false</EnableUnsafeUTF7Encoding>
	  <AutoreleaseSupport>false</AutoreleaseSupport>
	  <EventSourceSupport>false</EventSourceSupport>
	  <Http3Support>false</Http3Support>
	  <HttpActivityPropagationSupport>false</HttpActivityPropagationSupport>
	  <MetadataUpdaterSupport>false</MetadataUpdaterSupport>
	  <MetricsSupport>false</MetricsSupport>
	  <UseNativeHttpHandler>true</UseNativeHttpHandler>
	  <UseSystemResourceKeys>true</UseSystemResourceKeys>
	  <XmlResolverIsNetworkingEnabledByDefault>false</XmlResolverIsNetworkingEnabledByDefault>
	  <DebugType>None</DebugType>
	  <DebugSymbols>false</DebugSymbols>
	  <PublishAot>true</PublishAot>
	  <PublishTrimmed>true</PublishTrimmed>
	  <SelfContained>true</SelfContained>
	  <PublishSingleFile>true</PublishSingleFile>
  </PropertyGroup>
</Project>