.locations .visited .danger {
	color: darkred;
}
.locations .visited .safe {
	color: darkgreen;
}

.locations a .location {
	display: inline-block;
	min-width: 2em;
	text-align: center;
}
.locations a .visited {
	display: inline-block;
	min-width: 1.2em;
}

.locations {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5em;
}

.locations ::deep a {
	border: 2px solid var(--teal);
	color: var(--teal);
	background-color: antiquewhite;
	flex-grow: 1;
	min-width: 3.7em;
	height: 3em;
	text-align: center;
	line-height: 3em;
	text-decoration: none;
	font-weight: bold;
}

.locations ::deep a:hover {
	background-color: var(--teal);
	color: antiquewhite;
}