

nav ::deep a.navitem {
    text-decoration: none;
    background-color: cornsilk;
    padding: 1em;
    border: 2px solid var(--teal);
    box-sizing: border-box;
    margin-right: 0.5em;
    color: var(--teal);
    display: inline-block;
}

nav ::deep a.navitem:hover,
nav ::deep a.navitem:active,
nav ::deep a.active {
    color: cornsilk;
    background-color: var(--teal);
}


@media (min-width: 600px) {

}

@media (max-width: 600px) {
    nav .title {
        display: none;
    }
}
