[Unit]
Description=Sleeping God's sync server
After=network.target

[Service]
Type=notify
ExecStart=/usr/local/bin/Ox.SleepingGods.API/Ox.SleepingGods.API
WorkingDirectory=/usr/local/bin/Ox.SleepingGods.API/

DynamicUser=yes
StateDirectory=sleepinggods/store
BindPaths=/var/lib/sleepinggods/store:/usr/local/bin/Ox.SleepingGods.API/store
ReadOnlyPaths=/
ProtectSystem=strict
ProtectHome=true
PrivateUsers=true
RemoveIPC=true
ProtectKernelTunables=true
ProtectControlGroups=true
PrivateDevices=true
ProtectKernelLogs=true
ProtectKernelModules=true
ProcSubset=pid
NoNewPrivileges=true
ProtectClock=true
SystemCallArchitectures=native
RestrictNamespaces=true
RestrictSUIDSGID=true
LockPersonality=true
RestrictRealtime=true
ProtectHostname=true
PrivateTmp=true
SocketBindDeny=any
UMask=0077
KeyringMode=private
CapabilityBoundingSet=
SystemCallFilter=@system-service
SystemCallFilter=~@aio @keyring @chown


[Install]
WantedBy=multi-user.target
